*{
    padding: 0px;
    margin:0px;
}
body{
    font-family: 'Calibri light';
    font-size:17px;
    background-color:#3f3e3e;
    color:white;
}
.logo{
    width: 30px;
    height: 30px;
    margin: 0px 20px 0px 0px;
    display: block;
    flex: 1;
}
.circle{
    width:30px;
    height:30px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    background:#000
}

.ad{
    background-color:black;
}
.colors{
	background-color: #666666;
}